<div class="publications-container">
  <div class="filter-bar">
    <button
      class="filter-item"
      [class.active]="activeCategoriaId === null"
      (click)="seleccionarCategoria(null)">
      <span data-text="Todos">Todos</span>
    </button>
    <button
      *ngFor="let categoria of categorias"
      class="filter-item"
      [class.active]="activeCategoriaId === categoria.id"
      (click)="seleccionarCategoria(categoria.id)">
      <span [attr.data-text]="categoria.nombre">{{ categoria.nombre }}</span>
    </button>
  </div>

  <div class="articles-grid">
    <div class="article-entry" *ngFor="let articulo of articulos">
      <div class="article-image">
        <a [routerLink]="['/articulo', articulo.slug]">
          <img [src]="backendUrl + '/static/images/articulos/thumbnails/' + articulo.imagen_thumbnail_url" [alt]="articulo.titulo">
        </a>
      </div>
      <div class="article-content">
        <a [routerLink]="[]" [queryParams]="{categoria: articulo.categoria.id}" (click)="seleccionarCategoria(articulo.categoria.id)" class="category-tag">
          {{ articulo.categoria.nombre }}
        </a>
        
        <a [routerLink]="['/articulo', articulo.slug]" class="main-content-link">
          <h2>{{ articulo.titulo }}</h2>
          <p>{{ articulo.resumen | truncate:160 }}</p>
          
          <div class="article-meta">
            <span class="author-tag"> Por: {{ articulo.autor.nombre_completo }}
            </span>
            <div class="views-counter">
              <img src="assets/publicaciones/vistas-logo.svg" alt="Icono de vistas">
              <span>{{ articulo.vistas }}</span>
            </div>
          </div>
        </a>
        
      </div>
    </div>
  </div>

  <div class="pagination-controls" *ngIf="totalPages > 1">
    <button (click)="irAPagina(currentPage - 1)" [disabled]="currentPage === 1" aria-label="Página anterior">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </button>
    <button
      *ngFor="let pagina of pages"
      class="page-number"
      [class.active]="currentPage === pagina"
      (click)="irAPagina(pagina)">
      {{ pagina }}
    </button>
    <button (click)="irAPagina(currentPage + 1)" [disabled]="currentPage === totalPages" aria-label="Página siguiente">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </button>
  </div>
</div>