/* --- Estructura y Alineación --- */

.public-header {
  background-color: #fff;
  padding: 0 1.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #dee2e6;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 1820px;
  margin: 0 auto;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.logo {
  text-decoration: none;
}

.logo img {
  height: 40px; 
  display: block;
}

/* --- Barra de Navegación --- */

.main-nav {
  display: flex;
  gap: 2.5rem;
}

.main-nav a {
  text-decoration: none;
  color: var(--color-text-dark);
  font-size: 1.7rem;
  font-weight: 500;
  padding: 0.5rem 0;
  border-bottom: 3px solid transparent;
  transition: color 0.2s, border-color 0.2s;
}

.main-nav a:hover {
  color: #bf0909;
}

.main-nav a.active {
  color: #bf0909;
  border-bottom-color: #bf0909;
  font-weight: 550;
}

/* --- Botones de Autenticación --- */

.auth-buttons {
  display: flex;
  gap: 1.5rem;
}

.auth-buttons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 120px;
  height: 40px;
}

/* Estilo para el botón principal (Registrarse) */

.auth-buttons a.primary {
  background-color: #0056ac;
  color: #fff;
}

.auth-buttons a.primary:hover {
  background-color: #fff;
  color: #0056ac;
  border-color: #0056ac;
}

/* Estilo para el botón secundario (Ingresar) */

.auth-buttons a.secondary {
  background-color: #fff;
  color: #0056ac;
  border: 2px solid #0056ac;
}

.auth-buttons a.secondary:hover {
  background-color: #f8f9fa;
  border-color: #adb5bd;
}