<header class="public-header">
  <div class="header-content">
    
    <div class="header-left">
      <a routerLink="/inicio" class="logo">
        <img src="assets/header/logo-sniugb.svg" alt="Logo SNIUGB">
      </a>
      
      <nav class="main-nav">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
        <a routerLink="/publicaciones" routerLinkActive="active">Publicaciones</a>
      </nav>
    </div>

    <div class="auth-buttons">
      <a href="#" class="primary">Registrarse</a>
      <a href="#" class="secondary">Ingresar</a>
    </div>

  </div>
</header>