<footer class="public-footer">
  <div class="footer-content">
    <p>© 2025 SNIUGB - Ministerio de Desarrollo Agrario y Riego</p>
    <div class="social-links">
      <span>Síguenos:</span>

      <a href="https://x.com" target="_blank" rel="noopener noreferrer" aria-label="X/Twitter">
        <img src="assets/footer/x-logo.svg" alt="X Icon">
      </a>

      <a href="https://facebook.com" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
        <img src="assets/footer/facebook-logo.svg" alt="Facebook Icon">
      </a>

      <a href="https://instagram.com" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <img src="assets/footer/instagram-logo.svg" alt="Instagram Icon">
      </a>

      <a href="https://tiktok.com" target="_blank" rel="noopener noreferrer" aria-label="TikTok">
        <img src="assets/footer/tiktok-logo.svg" alt="Tiktok Icon">
      </a>

    </div>
  </div>
</footer>