<div class="container" [ngSwitch]="currentStep">

  <form *ngSwitchCase="'request'" (ngSubmit)="solicitarCodigo()">
    
    <h3>Recuperar Contraseña</h3>
    <p class="instructions">Elige dónde recibir tu código de recuperación:</p>
  
    <div class="form-content">
      <div class="method-selector">
        <button 
          type="button" 
          class="method-btn" 
          (click)="selectMethod('email')" 
          [ngClass]="{'active': method === 'email'}">
          <span>Email</span>
        </button>
        <button 
          type="button" 
          class="method-btn" 
          (click)="selectMethod('whatsapp')" 
          [ngClass]="{'active': method === 'whatsapp'}">
          <span>WhatsApp</span>
        </button>
      </div>
    
      <div class="form-group">
        <input 
          type="tel" 
          id="forgot-dni" 
          [(ngModel)]="dni" 
          name="dni" 
          (input)="resetMessages()"
          placeholder="Ingresa tu DNI" 
          required 
          maxlength="8" 
          pattern="[0-9]*">
      </div>
    </div>
  
    <div class="message-area">
      <div *ngIf="mensaje" [ngClass]="{ 'error-message': esError, 'success-message': !esError }">
        {{ mensaje }}
      </div>
    </div>

    <button type="submit" class="submit-button">Solicitar Código</button>
  </form>

  <form *ngSwitchCase="'verify'" (ngSubmit)="verificarCodigo()">
    
    <h3>Verificar Código</h3>
    <p class="instructions">Se envió un código de 6 dígitos a tu {{ method }}.</p>
  
    <div class="form-content">
      <div class="form-group">
        <input 
          type="tel" 
          id="verify-code" 
          [(ngModel)]="codigoVerificacion" 
          name="codigoVerificacion" 
          (input)="resetMessages()"
          placeholder="Ingresar código" 
          required 
          maxlength="6" 
          pattern="[0-9]*">
      </div>
    </div>
  
    <div class="message-area">
      <div *ngIf="mensaje" [ngClass]="{ 'error-message': esError, 'success-message': !esError }">
        {{ mensaje }}
      </div>
    </div>

    <button type="submit" class="submit-button">Verificar</button>
  </form>

  <form *ngSwitchCase="'reset'" (ngSubmit)="cambiarContrasena()">
    
    <h3>Crear Nueva Contraseña</h3>
  
    <div class="form-grid">
      <div class="form-inputs">
        <div class="form-group password-wrapper">
          <input 
            [type]="showPassword ? 'text' : 'password'" 
            id="new-password" 
            [(ngModel)]="nuevaContrasena" 
            name="nuevaContrasena" 
            (input)="validatePasswordRealtime(); resetMessages()"
            placeholder="Nueva contraseña" 
            required>
          <button *ngIf="nuevaContrasena" type="button" (click)="showPassword = !showPassword" class="toggle-password-btn">
            <img src="assets/registro/eye-icon.svg" alt="Icono de ojo">
          </button>
        </div>
        <div class="form-group password-wrapper">
          <input 
            [type]="showConfirmPassword ? 'text' : 'password'" 
            id="confirm-password" 
            [(ngModel)]="confirmarContrasena" 
            name="confirmarContrasena" 
            (input)="resetMessages()"
            placeholder="Confirmar contraseña" 
            required>
          <button *ngIf="confirmarContrasena" type="button" (click)="showConfirmPassword = !showConfirmPassword" class="toggle-password-btn">
            <img src="assets/registro/eye-icon.svg" alt="Icono de ojo">
          </button>
        </div>
      </div>

      <div class="password-requirements">
        <p class="req-title">La contraseña debe cumplir con:</p>
        <ul>
          <li [ngClass]="{'valid': passwordValidation.length}" [attr.data-text]="'8-16 caracteres'">8-16 caracteres</li>
          <li [ngClass]="{'valid': passwordValidation.hasSymbols}" [attr.data-text]="'1 símbolo'">1 símbolo</li>
          <li [ngClass]="{'valid': passwordValidation.hasNumber}" [attr.data-text]="'1 número'">1 mayúscula</li>
          <li [ngClass]="{'valid': passwordValidation.hasUpper}" [attr.data-text]="'1 mayúscula'">1 mayúscula</li>
        </ul>
      </div>
    </div>
    
    <div class="message-area">
      <div *ngIf="mensaje" [ngClass]="{ 'error-message': esError, 'success-message': !esError }">
        {{ mensaje }}
      </div>
    </div>

    <button type="submit" class="submit-button">Guardar Contraseña</button>
  </form>

</div>