<!-- Render condicional -->
<div *ngIf="open" #overlay class="ui-overlay"
     (pointerdown)="onOverlayPointerDown($event)"
     (pointerup)="onOverlayPointerUp($event)">

  <div #card class="ui-card" (click)="stop($event)">
    <header class="ui-card__header">
      <h2 class="ui-card__title">{{ title }}</h2>
    </header>

    <section class="ui-card__body">
      <!-- Aquí se inyecta tu formulario/contenido -->
      <ng-content></ng-content>
    </section>

    <!-- Busy overlay -->
    <div class="ui-busy" *ngIf="busy" aria-live="polite" aria-busy="true">
      <div class="spinner"></div>
      <span>Guardando…</span>
    </div>
  </div>
</div>